---
import Layout from "../layouts/Layout.astro";
import AnimatedScroll from "../components/AnimatedScroll";

const projects = [
    {
        name: "This Website",
        description: "My personal website",
        stack: "AstroJS, TailwindCSS",
        imageSrc: "https://upload-systems.is-a.fail/6xQM94XuR.png",
        githubLink: "https://github.com/ophx/ophx-personal-website"
    },
    {
        name: "OphxBB",
        description: "A cheat panel template",
        stack: "PHP, MySQL, TailwindCSS, JavaScript",
        imageSrc: "https://cdn.upload.systems/uploads/4D6w1HdA.png",
        githubLink: "https://github.com/ophx/ophxbb"
    }
];
---

<Layout title="Projects">
	<main>
		<!-- hero -->
		<AnimatedScroll client:load>
			<div class="sm:container sm:px-32 sm:mx-auto flex w-full h-screen">
				<div class="mt-96 w-full">
					<p class="text-white text-2xl sm:text-3xl text-center mb-4">Projects</p>
                    <div class="border-b-2 border-purple-800 w-10 mb-4 mx-auto"></div>
                    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
                        {projects.map((project) => (
                            <a href={project.githubLink} target="_blank" class="transition-all duriation-150 rounded shadow-lg p-4 border border-gray-900 hover:bg-gray-900">
                                <img src={project.imageSrc} class="h-[194]" />
                                <p class="text-white sm:text-xl">{project.name}</p>
                                <p class="text-gray-400 truncate">{project.description}</p>
                                <p class="text-gray-400 truncate">{project.stack}</p>
                            </a>
                        ))}
                    </div>
				</div>
			</div>
		</AnimatedScroll>
	</main>
</Layout>