---
interface Props {
	frontmatter: any;
}

const { frontmatter } = Astro.props;

import Layout from "./Layout.astro";
import AnimatedScroll from "../components/AnimatedScroll";
import moment from "moment";

const date = moment(frontmatter.pubDate.slice(0, 10));
---

<Layout title={frontmatter.title}>
    <!-- md content -->
    <main>
        <AnimatedScroll client:load>
            <div class="sm:container sm:px-32 sm:mx-auto flex w-full h-screen">
                <div class="mt-96 w-full text-gray-400">
                    <p class="text-white text-2xl sm:text-3xl">{frontmatter.title}</p>
                    <p class="text-gray-400">{frontmatter.description}</p>
                    <p class="text-gray-400">Last updated: {moment(date).fromNow()}</p>
                    <div class="flex items-center gap-2">
                        {frontmatter.tags.slice(0, 4).map((tag) => (
                            <div class="inline-flex items-center px-2.5 py-0.5 rounded text-xs font-medium bg-purple-800 text-purple-100">{tag}</div>
                        ))}
                        {frontmatter.tags.length > 4 && (
                            <p class="text-gray-400">+{frontmatter.tags.length - 4} more</p>
                        )}
                    </div>
                    
                    <div class="border-b border-gray-900 mt-4 mb-4"></div>
                    
                    <slot />
                </div>
            </div>
        </AnimatedScroll>
    </main>
</Layout>